@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400i,700,700i');
$light: #fffefe;
$ease: cubic-bezier(0.645, 0.045, 0.355, 1.000);
html, body {
	width: 100%;
	height: 100%;
	margin: auto;
	overflow: hidden;
	font-family: 'Archivo Narrow', sans-serif;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center;
	font-size: 18px;
	line-height: 1.3em;
	color: $light;
	::selection {
		background: $light;
		color: black;
	}
}
#wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	opacity: 0;
	transition: opacity 500ms $ease;
	&.loa.ded {
		opacity: 1;
	}
	&.no-scroll {
		overflow: hidden;
	}
}
h1 {
	font-size: 7em;
	line-height: 1.2em;
	margin: 0;
}
h2 {
	font-size: 4em;
	line-height: 1.2em;
	margin: 0;
}
h3 {
	font-size: 2.5em;
	line-height: 1.2em;
	margin: 0;
}
h4 {
	font-size: 1.8em;
	line-height: 1.2em;
	margin: 0;
}
a {
	color: inherit;
	text-decoration: none;
	&.open {
		pointer-events: auto;
	}
}
p {
	margin: 0 0 1em 0;
	&:last-child {
		margin: 0;
	}
}
#home {
	width: 100vw;
	height: 101vh;
	display: table;
	z-index: 100;
	overflow: hidden;
	pointer-events: none;
	position: relative;
	nav {
		position: absolute;
		top: 0 !important;
		a h3 {
			border-color: transparent !important;
		}
	}
	.logo {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 102;
		overflow: hidden;
		pointer-events: none;
		display: flex;
		align-items: center;
		opacity: 0;
		svg {
			width: 10vw;
			display: table;
			margin: auto;
			fill: $light;
		}
	}
	#photos {
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		cursor: pointer;
		pointer-events: auto;
		.bg {
			width: 110%;
			height: 110%;
			position: absolute;
			left: -5%;
			top: -5%;
			opacity: 0;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			&.show {
				opacity: 1;
			}
			&.hide {
				opacity: 0 !important;
			}
		}
		&.navigating {
			background-color: $light;
			.bg {
				// opacity: 0 !important;
			}
		}
	}
	.spotlight {
		width: 300vw;
		height: 300vh;
		position: fixed;
		left: -150vw;
		top: -150vh;
		transform: translate3d(50vw, 50vh, 0);
		transition: transform 100ms $ease;
		display: flex;
		align-content: center;
		z-index: 102;
		background-image: url(../img/spotlight.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.mask {
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		mix-blend-mode: multiply;
		canvas {
			width: 100%;
			height: 100%;
			background-color: black;
		}
	}
}
main {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	display: table;
	z-index: 200;
	padding: 0 0 25vh 0;
	pointer-events: none;
	position: relative;
	mix-blend-mode: lighten;
	transition: opacity 500ms $ease;
	&.no-mix {
		mix-blend-mode: normal;
	}
	&.hidden {
		opacity: 0;
		a, img {
			pointer-events: none !important;
		}
	}
}
nav {
	width: 6vw;
	height: 100vh;
	position: fixed;
	left: calc(50% - 3vw);
  top: 100%;
  display: flex;
  z-index: 100 !important;
  transform: rotate(180deg);
	.inner {
		width: calc(100vh - 1em);
		height: 6vw;
		position: absolute;
		left: 0;
    top: -6vw;
		padding: 0 .5em;
		display: flex;
		flex-direction: row;
    align-items: center;
		transform: rotate(90deg);
    transform-origin: left bottom;
    mix-blend-mode: lighten;
		.buttons {
			display: flex;
			margin: auto;
			.button {
				display: table;
				margin: auto;
				a {
					display: table;
					padding: .5em;
			    pointer-events: all;
					h3 {
						color: $light;
						border-bottom: .15em solid transparent;
					}
					&.selected {
						h3 {
							padding-bottom: 0;
							border-color: inherit;
						}
					}
					&:hover {
						cursor: pointer;
						h3 {
							cursor: pointer;
							color: black;
						}
					}
				}
			}
		}
	}
	&.fixed {
		// position: fixed;
	}
}
.links {
	a {
		display: inline-table;
		color: $light;
		background-color: black;
		border-radius: .5em;
		border: solid $light;
		&:hover {
			color: black;
			background-color: $light;
		}
	}
}
.thing {
	.more {
		width: 100%;
		height: 0;
		overflow: hidden;
		.inner {
			width: 100%;
			transition: opacity 400ms 200ms $ease;
			opacity: 0;
			padding: .5em 0 3em 0;
			.about {
				padding: 1.5em 0;
			}
			ul, ol {
				list-style: none;
				padding: 0 0 1em 0;
				margin: 0;
			}
			.links {
				display: table;
				padding-top: .45em;
				a {
					padding: .5em;
					margin: 0 .75em .75em 0;
					border-width: .15em;
				}
			}
			ol.tracks {
				width: 100%;
				border-top: 2px solid $light;
				li {
					width: 100%;
					border-bottom: 2px solid $light;
					padding: .5em 0;
					margin: 0;
					.title {
						width: auto !important;
						display: inline !important;
					}
					.length {
						margin-left: 1em;
						opacity: .5;
					}
				}
			}
		}
	}
	&.opened {
		.more {
			pointer-events: auto;
			.inner {
				opacity: 1;
			}
		}
	}
}
section {
	transition: opacity 500ms $ease;
	&#featured {
		width: 100vw;
		mix-blend-mode: lighten;
		position: relative;
		.thing {
			min-height: 100vh;
			width: 100%;
			display: flex;
			.image {
				width: 60vw;
				min-height: 60vw;
				background: black;
				position: relative;
				a.open {
					width: 100%;
					display: table;
					img {
						width: 100%;
						display: table;
						margin: auto;
					}
				}
				.links {
					width: 100%;
					margin-top: .2em;
					a {
						float: right;
						margin: 0 0 .75em .75em;
					}
				}
			}
			.info {
				width: 40%;
				display: flex;
				background: black;
				mix-blend-mode: lighten;
				position: relative;
				.center {
					display: table;
					margin: auto 2em;
					.more {
						height: 0;
						// overflow: hidden;
					}
				}
			}
			.meta {
				width: 100%;
				text-transform: uppercase;
				display: flex;
				align-items: center;
				position: absolute;
				left: 100%;
		    top: -.7em;
				transform-origin: left center;
				transform: rotateZ(90deg);
				.row {
					display: table;
					margin: auto;
					span {
						margin: 0 .5em;
						font-size: 1.5em; 
					}
				}
			}
		}
	}
	&#pages {
		widows: 100%;
		min-height: 100vh;
		.page {
			width: 100%;
			position: relative;
			transition: opacity 500ms $ease;
			display: none;
			.group {
				position: relative;
				// padding: 10vh 0;
				.label {
					width: 100%;
					height: 100%;
			    display: flex;
			    position: absolute;
			    left: 0;
			    top: 0;
			    display: none;
			    h3 {
			      text-align: center;
				    text-transform: uppercase;
				    margin: auto;
				    letter-spacing: .3em;
				  }
				}
				&:nth-child(odd) {
					.label h3 {
						transform: rotate(-90deg);
					}
				}
				&:nth-child(even) {
					.label h3 {
						transform: rotate(90deg);
					}
				}
			}
			article.thing {
				width: 100%;
				display: flex;
				transition: all 500ms $ease;
				opacity: 0;
				.image {
					width: 30vw;
					transition: opacity 300ms $ease;
					a.hover {
						width: 100%;
						display: table;
						margin: auto;
					}
					img {
						width: 100%;
				    filter: grayscale(1);
				    transition: filter 300ms $ease;
				    pointer-events: auto;
					}
					&.no {
						a.hover {
							border: .4em solid $light;
							padding: .5em;
						}
					}
				}
				.info {
					width: 60vw;
					display: table;
					align-content: center;
					opacity: 0;
					transition: opacity 300ms $ease;
					.center {
						display: table;
						pointer-events: none;
					}
					.title {
						width: 100%;
						display: table;
						margin: auto;
				    h1 {
				    	margin: 0;
				    	display: table;
				    }
					}
					.meta {
						display: table;
						width: 100%;
					}
					.inner {
						max-width: 27em;
						.about {
							text-align: justify;
						}
					}
				}
				&.show {
					transition: all 1000ms $ease;
					opacity: 1;
				}
				&.hover {
					mix-blend-mode: lighten;
					z-index: 1000;
					opacity: 1 !important;
					.info {
						position: relative;
						opacity: 1;
						.center {
							pointer-events: auto !important;
						}
					}
					img {
						filter: grayscale(0);
					}
				}
				&.hidden:not(.hover) {
					.image {
						opacity: 0.1;
					}
					.info {
						opacity: 0;
					}
				}
				&.even {
					flex-direction: row;
					.image {
						margin-left: 10vw;
						.links {
							a {
								float: right;
								margin: 0 .75em .75em 0;
							}
						}
					}
					.info {
						margin: auto;
						.center {
							padding: 0 8vw 0 2vw;
							h2, .meta {
								// padding: 0 8vw 0 2vw;
							}
						}
					}
				}
				&.odd {
					flex-direction: row-reverse;
					// margin-bottom: -10em;
					.image {
						margin-right: 10vw;
						a.hover {
							float: right;
						}
						&.no {
							a {
								margin-right: calc(10vw - 1.8em);
							}
						}
					}
					.info {
						margin: auto;
						.center {
							float: right;
							padding: 0 2vw 0 8vw;
							h2 {
								text-align: right;
							}
							.meta .row, .inner {
								float: right;
							}
						}
					}
				}
				&.large {
					.image {
						a {
							margin: 0;
						}
					}
				}
			}
			&.show {
				display: table;
			}
		}
	}
	&#about {
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		background-color: black; 
		mix-blend-mode: lighten;
		opacity: 0;
		pointer-events: none;
		display: flex;
		flex-direction: rows;
		.half {
			width: calc(50% - 2em);
			height: 100%;
			overflow-y: auto;
			.inner {
				padding: 2em;
				a {
					display: table;
				}
			}
			&.left {
				padding-right: 2em;
			}
			&.right {
				padding-left: 2em;
				.links {
					a {
						display: inline-table;
						padding: .2em .5em;
				    margin: 0 1em 1em 0;
				    border-width: .28em;
					}
				}
			}
		}
		&.show {
			opacity: 1;
			pointer-events: all;
		}
	}
}
.hide {
	transition: opacity 300ms $ease;
	&.hidden {
		opacity: 0;
		pointer-events: none;
		a {
			pointer-events: none !important;
		}
	}
}
footer {
	width: 100%;
	height: 10em;
	display: table;
	background-image: url(../img/sadie.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	mix-blend-mode: lighten;
	z-index: 200;
}